body{
    background: url("../image/bg.png");
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em;
}
.m-padded-mini-2{
    padding: 0.2em !important;
}
.m-padded-mini-3{
    padding: 0.3em !important;
}
.m-padded{
    padding: 1em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
.m-padded-tb-large{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-tiny-top-30{
    padding-top: 3em !important;
}
.m-padded-tb-tiny-bottom-30{
    padding-bottom: 3em !important;
}

.m-padded-lr-reponsive{
    padding-left: 4em!important;
    padding-right: 4em!important;
}
/*-------margin--------*/
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}

/*-------Text--------*/
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
.m-text-thin{
    font-weight: 300 !important;

}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8;
}
.m-text-TSL{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}

/*-------display--------*/
.m-inline-block{
    display: inline-block !important;
}

/*-------container--------*/
.m-container{
    max-width: 72em !important;
    margin: auto !important;
}

.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}

/*-------color--------*/
.m-black{
    color: #333;
}

/*-------position--------*/
.m-top-right{
    position: absolute;
    top: 0;
    right: 0;
}

.m-fixed{
    position: fixed !important;
    z-index: 1 !important;
}

.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}

/*-------opacity--------*/
.m-opacity-mini{
    opacity: 0.8!important;
}

.m-opacity-tiny{
    opacity: 0.6!important;
}

/*-------shaodw(阴影)--------*/
.m-shadow-small{
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.2)!important;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2)!important;
}
/*-------控制显示--------*/
.m-mobile-show{
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-reponsive{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-moblie-lr-clear{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-mobile-wide{
        width: 100%;
    }
}